* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Poppins', sans-serif;
}

header {
  display: flex;
  background-color: rgba(197, 192, 192, 0.452);
  padding: 2rem;
  font-size: 3rem;
  align-items: center;
  justify-content: space-between;
}

.logo {
  border-radius: 25px;
  background: #adb1a7;
  padding: 1rem;
}

.show-list {
  border-radius: 5px;
  background: #adb1a7;
  padding: 1rem;
}

.footer {
  position: relative;
  background-color: rgba(197, 192, 192, 0.452);
  padding: 2rem;
  font-size: 2rem;
  text-align: center;
  bottom: 0;
  width: 100%;
}

.movies-list {
  padding: 2rem;
  list-style: none;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.item img {
  width: 25rem;
}

.comments {
  font-size: 2rem;
}

.info {
  display: flex;
  font-size: 2.2rem;
  justify-content: space-between;
  padding: 1rem;
}

.search {
  padding: 1rem;
}

.col-12 {
  width: 100%;
}
